$dark-theme-primary-background: #1a1a1ff6;
$dark-theme-secondary-background: #27272A;
$dark-theme-primary-text: #ffffff;



$light-theme-primary-background: #ffffff;
$light-theme-secondary-background: #f9fafb;
$light-theme-primary-text: #000000;
